/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: rgb(255 255 255);
  --alt-bg-color: rgb(223 223 223);
}

html {
  display: block;
  width: 100%;
}

body {
  background-color: rgb(35, 35, 35);
  color: #f9faffde;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  display: flex;
  text-shadow: #858ebc -2px 2px 8px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 72px;
  line-height: 105px;
}

#label {
  position: absolute;
  opacity: 0.5;
  top: 49%;
  left: 66%;
  font-size: 36px;
  line-height: 26px;
  width: 100px;
  text-transform: lowercase;
  text-align: center;
}

#label:before {
  content: "––––––";
  padding-right: 5px;
}

#label:hover {
  opacity: 1;
}